body {
    font-family: "Arial";
    background: black;
    color: white;
}
.wd-post-dot {
    float: right;
    margin-right: 16px;
}
.wd-body {
    position: absolute;
    left: 16px;
    right: 16px;
}
.wd-post-dot {
    float: right;
    margin-right: 16px;
}

